// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$rose: rgba(211, 80, 113, 1);
$beige: rgba(230, 204, 190, 1);
$ivoire: #ededed;
$orage: #364156;

$dark_blue: #0A2239;
$light_blue: #255C99;
$pale_green: #A5CCD1;
$pale_gray: #7CA5B8;
$teal_blue: #40798C;
